.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100px 1fr 100px;
  grid-gap: 10px;
  grid-template-areas:
    "header header header"
    "menu main aside"
    "menu footer footer";
  height: 100vh;
}
.container > div {
  background-color: skyblue;
  padding: 20px;
  border: 1px solid #000;
  display: grid;
  justify-items: center;
  align-items: center;
}
.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: footer;
}
