.container {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 300px 1fr 300px;
  grid-gap: 10px;
  height: 100vh;
}
.container > div {
  background: skyblue;
  padding: 20px;
  border: 1px solid #000;
  display: grid;
  justify-items: center;
  align-items: center;
}
.header {
  grid-column: 1 / 4;
}
.footer {
  grid-column: 1 / 4;
}
