* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preload {
  -webkit-transition: none;
  transition: none;
}
body {
  color: #222;
  line-height: 1.5em;
}

input[name="tabmenu"] {
  display: none;
}
.tabs {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.items {
  width: 300%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.items div {
  width: 33.33%;
  height: 100vh;
  float: left;
  box-sizing: border-box;
  position: relative;
}
.items div:nth-child(1) {
  background: url(/01/photo-01.jpg) no-repeat center center fixed;
  background-size: cover;
}
.items div:nth-child(2) {
  background: url(/01/photo-02.jpg) no-repeat center center fixed;
  background-size: cover;
}
.items div:nth-child(3) {
  background: url(/01/photo-03.jpg) no-repeat center center fixed;
  background-size: cover;
}
.items div:nth-child(1)::before,
.items div:nth-child(2)::before,
.items div:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.items div:nth-child(1)::before {
  background: linear-gradient(135deg, gold, transparent);
}
.items div:nth-child(2)::before {
  background: linear-gradient(135deg, crimson, transparent);
}
.items div:nth-child(3)::before {
  background: linear-gradient(135deg, royalblue, transparent);
}
.items div h1 {
  position: relative;
  font-size: 120px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}
.btn label {
  color: #fff;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}
input[id="tab1"]:checked ~ .tabs .items {
  left: 0;
}
input[id="tab2"]:checked ~ .tabs .items {
  left: -100%;
}
input[id="tab3"]:checked ~ .tabs .items {
  left: -200%;
}
input[id="tab1"]:checked ~ .btn label[for="tab1"],
input[id="tab2"]:checked ~ .btn label[for="tab2"],
input[id="tab3"]:checked ~ .btn label[for="tab3"] {
  color: crimson;
}
input[id="tab1"]:checked ~ .tabs .items div:nth-child(1) h1,
input[id="tab2"]:checked ~ .tabs .items div:nth-child(2) h1,
input[id="tab3"]:checked ~ .tabs .items div:nth-child(3) h1 {
  transform: translateY(200px);
  opacity: 1;
}
