* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
#userInput {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 25px;
}
#userInput label {
  display: inline-block;
  width: 50px;
  margin: 10px;
}
#userInput input {
  width: 200px;
  border: none;
  border-bottom: 1px solid #ccc;
}
#userInput input:focus {
  outline: none;
}
form input[type="submit"] {
  width: 100%;
  padding: 15px;
}
table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
}
th:nth-child(1) {
  width: 150px;
}
th:nth-child(2) {
  width: 250px;
}
td {
  text-align: center;
}
