#my-box {
  color: red;
}

.text {
  color: black;
}

/* CSS3에서 스타일을 적용하는 우선순위!!

1.속성값 뒤에 !important 붙어있는 속성
2.인라인스타일시트로 스타일을 적용한 경우!
3.선택자에 id가 쓰인 속성
4.선택자에 class가 쓰인 속성
5.태그이름으로 지정한 속성 (*태그선택자)
6.부모 요소로 부터 상속받은 속성