* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 600px;
  margin: 0 auto;
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1500;
  -webkit-perspective: 1500;
}
#merry {
  position: absolute;
  left: 50%;
  top: 30px;
  transform-style: preserve-3d;
  /* border: 1px solid red; */
  animation: rint 15s infinite linear;
}
@keyframes rint {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.face {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -115px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.cell {
  width: 230px;
  height: 150px;
  margin-bottom: 5px;
  background: url("http://placehold.it/260x260");
  background-size: 100% 100%;
  transition-duration: 0.5s;
}

.cell:hover {
  transform: scale(1.2) translateZ(50px);
}

.face:nth-child(1) {
  transform: rotateY(0deg) translateZ(-370px);
}
.face:nth-child(2) {
  transform: rotateY(36deg) translateZ(-370px);
}
.face:nth-child(3) {
  transform: rotateY(72deg) translateZ(-370px);
}
.face:nth-child(4) {
  transform: rotateY(108deg) translateZ(-370px);
}
.face:nth-child(5) {
  transform: rotateY(144deg) translateZ(-370px);
}
.face:nth-child(6) {
  transform: rotateY(180deg) translateZ(-370px);
}
.face:nth-child(7) {
  transform: rotateY(216deg) translateZ(-370px);
}
.face:nth-child(8) {
  transform: rotateY(252deg) translateZ(-370px);
}
.face:nth-child(9) {
  transform: rotateY(288deg) translateZ(-370px);
}
.face:nth-child(10) {
  transform: rotateY(324deg) translateZ(-370px);
}
