body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
  display: flex;
}
.social li {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  flex: 1;
}
.social li a {
  color: #000;
  text-transform: uppercase;
}