* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #3c7364;
  overflow: hidden;
}
.gateBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
  width: 400px;
}
.top {
  border: 2px solid #fff;
  text-align: center;
  padding: 10px 30px;
}
.bottom {
  border: 2px solid #fff;
  border-top: none;
  display: flex;
  justify-content: space-around;
}
.bottom a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  width: 50%;
  transition: all 0.2s ease-in-out;
}
a:hover {
  background: #fff;
  color: #000;
}
.line {
  border: 1px solid #fff;
}

/* Circle Item */
.cursorItem {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.circle {
  background: yellowgreen;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  margin: -60px;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
