* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
}
#toggle-box {
  position: absolute;
  top: 5%;
  right: 5%;
}
#toggle-box button {
  padding: 5px 10px;
  border: 1px solid #222;
  border-radius: 5px;
}
#contents {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
p {
  font-size: 1.5em;
  line-height: 2;
}
.dark {
  background: #000;
  color: #fff;
}
