body {
  font-size: 15px;
  background: rgb(243, 243, 243);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signin .sign-inner {
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}
.signin input[type=button],
.signin input[type=email],
.signin input[type=password],
.signin input[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}
.signin input[type=button] {
  margin-bottom: 10px;
  cursor: pointer;
  background: #fff;
}
.signin input[type=button]:hover {
  background: #badc58;
  color: #fff;
}
.signin input[type=submit] {
  background: #27ae60;
  color: #fff;
  cursor: pointer;
}
.signin input[type=email]:focus {
  background: #f8edb5;
}