/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

div {
  margin: 10px;
  width: 100px;
  height: 100px;
}
.box1 {
  background: blueviolet;
}
.box2 {
  background: lightgreen;
}
.box3 {
  background: lightcoral;
}
