* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
#box {
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  background: linear-gradient(#cb60b3 0%, #db36a4 100%);

  animation-name: rint;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#box:hover {
  animation-play-state: paused;
}

@keyframes rint {
  from {
    left: 0;
    transform: rotate(0deg);
  }
  50% {
    left: 500px;
  }
  to {
    left: 500px;
    transform: rotate(360deg);
  }
}
