* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}
.slider-container {
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  top: 0;
  left: 0;
}
.slider-container.animated {
  transition: left 0.3s ease-in;
}
.slide {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 0 10%;
}
blockquote {
  color: #636363;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1.5em;
}
cite {
  font-size: 0.75em;
  font-weight: 700;
  font-style: normal;
}
#prev,
#next {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s ease-in;
}
#prev {
  background-image: url(../img/arrow-left-out.svg);
  margin-left: -480px;
}
#prev:hover {
  background-image: url(../img/arrow-left-over.svg);
}
#next {
  background-image: url(../img/arrow-right-out.svg);
  margin-left: 380px;
}
#next:hover {
  background-image: url(../img/arrow-right-over.svg);
}
#prev.disabled,
#next.disabled {
  display: none;
}
