* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
#profile img {
  width: 100px;
  border-radius: 10px;
}
#desc {
  margin: 10px 20px;
}
p {
  font-size: 0.8rem;
  line-height: 1.8;
}
