* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  margin: 20px;
  font-size: 2em;
}
#container {
  position: relative;
  width: 600px;
  height: 300px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  font-size: 2em;
  margin: 0 10px;
  padding: 10px;
  padding-bottom: 15px;
  background: #ddd;
  color: #222;
  opacity: 0.5;
  z-index: 999;
}
.arrow:hover {
  opacity: 1;
}
