/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Common CSS */
.background {
  background: url(./contents/background.png) center center;
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 20px;
}
.outerbox {
  background: url(./contents/outerbox.png) no-repeat center center;
  background-size: cover;
  width: 808px;
  height: 544px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0 0 32px;
}

/* Wrapper_left CSS */
.wrapper_left {
  /* border: 1px solid #f00; */
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 3px;
  margin-right: 7px;
}

/* ======== header ======== */
.wrapper_left_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
.today {
  padding-top: 10px;
  font-size: 9px;
}
.zero {
  color: #f00;
  font-size: 11px;
}
.count {
  font-size: 11px;
}

/* ======== body ======== */
.wrapper_left_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 20px 30px 0;
}
.left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.left_body_header_gray {
  width: 148px;
  height: 133px;
  background: url(./contents/iu.jpg) no-repeat center center;
  background-size: cover;
}
.left_body_header_line {
  border-top: 1px dotted #000;
  margin: 12px 0;
}

/* ======== profile ======== */
.left_body_profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile_detail {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.fas,
.fab {
  color: #000;
  margin-right: 10px;
  width: 5px;
  height: 5px;
  line-height: 20px;
}
.left_body_footer {
  width: 100%;
  margin-bottom: 30px;
}
.wrapper_feel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper_feel select {
  display: inline-block;
  width: 100%;
}
.wrapper_feel option {
  display: inline-block;
  width: 100%;
}
.feel_title {
  font-size: 11px;
  margin-bottom: 5px;
  color: gray;
}
