* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  background: #0984e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
nav {
  display: flex;
  flex-direction: row;
  width: 1280px;
  justify-content: space-between;
}
.logo img {
  height: 22px;
}
.gnb {
  display: flex;
  flex-direction: row;
}
.gnb li a {
  margin: 20px;
}
.gnb li a:hover, .sns a:hover {
  color: #000;
}
.sns {
  margin-right: -5px;
}
.sns a {
  margin: 7px;
}
.trigger {
  display: none;
}

@media all and (max-width: 768px) {
  header {
    height: auto;
  }
  nav {
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  .logo {
    padding: 10px;
  }
  .gnb {
    flex-direction: column;
    text-align: center;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .gnb li a {
    display: block;
    padding: 8px;
    margin: 0;
  }
  .sns {
    background: #257ed6;
    display: flex;
    justify-content: center;
    gap: 17px;
    padding: 8px;
    margin-top: 8px;
  }
  .sns a {
    color: #222;
  }
  .sns a:hover {
    color: #fff;
  }
  .gnb, .sns {
    display: none;
  }
  .gnb.on, .sns.on {
    display: flex;
  }
  .trigger {
    display: block;
    width: 25px;
    height: 15px;
    /* border: 1px solid #f00; */
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .trigger span {
    background: #fff;
    width: 100%;
    height: 1px;
    position: absolute;
  }
  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
}