.container {
  display: grid;
  grid-template-rows: 100px 600px 1fr 100px;
  grid-template-columns: 250px 1fr 250px;
  grid-template-areas:
    "header header header"
    "welcome welcome welcome"
    "banner main aside"
    "footer footer footer";
}
.container > div {
  border: 1px solid #000;
  padding: 20px;
  font-size: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.header {
  grid-area: header;
  background: darkkhaki;
}
.welcome {
  grid-area: welcome;
  background: url(/img/grid/1/welcome-image.jpg) no-repeat center center;
  background-size: cover;
}
.banner {
  grid-area: banner;
}
.main {
  grid-area: main;
}
.aside {
  grid-area: aside;
}
.footer {
  grid-area: footer;
  background: darkkhaki;
}

@media all and (max-width: 768px) {
  .container {
    grid-template-rows: 100px 600px 100px 1fr 100px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "welcome" "banner" "main" "aside" "footer";
  }
}
