* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #13adcc;
}
h1 {
  font-size: 50px;
  padding: 20px;
}
.box {
  /* width: 40px;
  height: 40px;
  background: #000; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box img {
  width: 100px;
}
