body {
  /* background-image: url("/BackgroundFront.png"), url("/BackgroundBack.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #e7e7e8;
  background-attachment: fixed;
  background-position: bottom; */

  background: url("/BackgroundFront.png") bottom / 100% no-repeat fixed,
    url("/BackgroundBack.png") bottom / 100% no-repeat fixed #e7e7e8;
}
