* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  cursor: pointer;
  min-height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}
#navi {
  width: 100vw;
  background: #e9592c;
  position: fixed;
  z-index: 999;
}
#navi h1 {
  float: left;
  padding: 10px 0 0 15px;
}
.main-nav {
  position: relative;
  float: left;
  height: 60px;
  /* line-height: 60px; */
  margin: 10px 0 0 50px;
}
.main-nav li {
  list-style: none;
  display: inline-block;
  margin: 12px 30px;
}
.main-nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
#md1 {
  background: url("../images/bg01.jpg") no-repeat;
  background-size: cover;
}
#md2 {
  background: url("../images/bg02.jpg") no-repeat;
  background-size: cover;
}
#md3 {
  background: url("../images/bg03.jpg") no-repeat;
  background-size: cover;
}
.bg-holder {
  width: 100%;
  height: 100%;
}
.container .content {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h3 {
  color: #e9592c;
  font-size: 65px;
  text-align: center;
}
.content p {
  color: #fff;
  margin-top: 12px;
  padding: 0 5px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}
.icon {
  text-align: center;
  margin-top: 10px;
  height: 118px;
  margin: 0 auto;
}
