// Item Width Variables
$content-width: 700px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: linear-gradient(#4b0220, #691c46);
}
section {
  position: relative;
  width: 100%;
  &.mainPage {
    position: fixed;
    top: 0;
    padding-bottom: 50px;
    .box {
      width: 100%;
      height: 100vh;
      background: #000;
    }
    .imageWrap {
      height: 100vh;
      .parallaxImage {
        position: fixed;
        width: 100%;
        height: inherit;
        background: top center/cover no-repeat;
        perspective: 400px;
        &:nth-child(1) {
          background-image: url(./img/main_0.png);
        }
        &:nth-child(2) {
          background-image: url(./img/main_1.png);
        }
        &:nth-child(3) {
          background-image: url(./img/main_2.png);
        }
        &:nth-child(4) {
          background-image: url(./img/main_3.png);
        }
        &:nth-child(5) {
          background-image: url(./img/main_4.png);
        }
        &:nth-child(6) {
          background-image: url(./img/main_5.png);
        }
        &:nth-child(7) {
          background-image: url(./img/main_6.png);
        }
      }
    }
  }
  &.subPage {
    z-index: 10;
    padding-top: 100vh;
    min-height: 60vh;
    .innerWrap {
      position: relative;
      .contWrap {
        margin: 0 auto;
        padding: 20px 40px;
        width: $content-width;
        background: rgba(0, 0, 0, 0.6);
        p {
          font-size: 20px;
          line-height: 36px;
          color: #f3f3f3;
          margin: 20px 0;
        }
      }
    }
  }
}
