* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  border: 5px solid #f00;
  overflow: hidden;
}
.pointer {
  width: 50px;
  height: 50px;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s ease-out;
}
