#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.start {
  padding: 10px 20px;
}
.done {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
  text-decoration: line-through;
}
.active {
  padding: 10px 20px;
  background: #222;
  color: #fff;
}
