* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#map {
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
}
