body > div {
  width: 400px;
  height: 100px;
  border: 3px solid #000;
  position: relative;
  overflow: scroll;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
}
.red {
  background-color: red;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.green {
  background-color: green;
  top: 50px;
  left: 50px;
  z-index: 5;
}
.blue {
  background-color: blue;
  top: 90px;
  left: 90px;
  z-index: 1;
}
