body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons button {
  background: #fff;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  padding: 20px 150px;
}
.buttons button.approval {
  border: 2px solid blue;
}
.buttons button.refuse {
  border: 2px dashed red;
}