@import url("/03flex-06/css/reset.css");

/* Base CSS = Mobile CSS */
#wrap {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.info_section {
  order: 1;
  width: 100%;
  background: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info_list {
  display: flex;
}
.info_list li {
  width: 25%;
  text-align: center;
}
.info_list li a {
  display: block;
  padding: 0.938rem 0;
  /* 15px / 16px */
}
.header {
  order: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.logo {
  order: 1;
  width: 100%;
  padding: 1.875rem 0;
  font-size: 1.188rem;
  line-height: 1.313rem;
  text-align: center;
  text-transform: uppercase;
  background: #2ecc71;
  text-shadow: 0 1px 1px #25ab5e;
}
.nav {
  order: 2;
  width: 100%;
}
.gnb {
  display: none;
}
.gnb li {
  background: #2c3e50;
  display: flex;
}
.gnb li a {
  width: 80%;
  padding: 1.25rem 0;
  font-size: 0.938rem;
  text-indent: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.gnb li span {
  width: 20%;
  background: url("/03flex-06/contents/images/s_images/sub_menu_toggle_btn.png")
    center center no-repeat;
  cursor: pointer;
  text-indent: -9999px;
}
.menu_toggle_btn {
  display: block;
  text-indent: -9999px;
  width: 1.875rem;
  height: 1.875rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: url("/03flex-06/contents/images/s_images/menu_toggle_btn.png")
    no-repeat;
  cursor: pointer;
}
.slider_section {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: url("/03flex-06/contents/images/p_images/slider_01.jpg") center
    center no-repeat;
  width: 100%;
  height: 18.75rem;
}
.slider_section span {
  width: 2.125rem;
  height: 2.438rem;
  text-indent: -9999px;
  background: url("/03flex-06/contents/images/s_images/slider_arrow.png")
    no-repeat;
  cursor: pointer;
}
span.prev_btn {
  margin-left: -0.625rem;
  background-position: 0 0;
}
span.next_btn {
  margin-right: -0.625rem;
  background-position: -34px 0;
}
.latest_post_section {
  order: 4;
  background: #ffc40f;
  text-shadow: 0 1px 1px #b98e0b;
}
.popular_post_section {
  order: 5;
  background: #a660c2;
  text-shadow: 0 1px 1px #714185;
}
.latest_post_section,
.popular_post_section {
  padding: 2.5rem 12.5%;
}
.title {
  font-size: 1.188rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.875rem;
}
.latest_post_section li,
.popular_post_section li {
  margin-top: 0.938rem;
  padding-left: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  background: url("/03flex-06/contents/images/s_images/post_circle_icon.png")
    left center no-repeat;
}
.latest_post_section li:first-child,
.popular_post_section li:first-child {
  margin-top: 0;
}
.gallery_section {
  order: 6;
  padding: 3.125rem 12.5%;
  text-align: center;
  text-shadow: 0 1px 1px #c43434;
  background: #e65d5d;
}
.gallery_section img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px #c43434;
}
.gallery_list li:nth-child(2) {
  margin-top: 1.875rem;
}
.gallery_list li figcaption {
  margin-top: 1.25rem;
  font-size: 1.188rem;
  text-transform: uppercase;
  font-weight: bold;
}
.rankup_section {
  order: 7;
  padding: 2.5rem 12.5%;
  background: #219af7;
  text-shadow: 0 1px 1px #1974ba;
}
.rankup_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rankup_list li {
  width: 47%;
  margin-top: 0.938rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.rankup_list li:first-child,
.rankup_list li:nth-child(2) {
  margin-top: 0;
}
.rankup_list li:first-child a,
.rankup_list li:nth-child(2) a {
  color: #fff;
}
.rankup_list li a {
  display: block;
  padding: 0.625rem 0;
  border: 1px solid #fff;
  border-radius: 5px;
}
.banner_section {
  order: 8;
}
.banner_box_01 {
  background: #e6567a;
}
.banner_box_01 a {
  display: block;
  text-align: center;
  padding: 1.875rem 0;
}
.banner_box_02 {
  background: #c44968;
}
.banner_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.875rem 12.5%;
}
.social_section {
  order: 9;
  padding: 1.5rem 12.5%;
  background: #fff;
}
.social_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  order: 10;
  width: 100%;
  background: #474747;
}
.footer p {
  padding: 1.25rem;
  font-size: 0.813rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 1px #191919;
}

/* Tablet CSS */
@media all and (min-width: 768px) {
  #wrap {
    flex-flow: row wrap;
  }
  .header {
    flex-direction: row;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 15.625%;
    padding: 0;
    z-index: 10;
  }
  .logo a {
    display: block;
    padding: 3.125rem 0;
  }
  .nav {
    position: relative;
    height: 5rem;
    background: #2ecc71;
  }
  .gnb {
    position: absolute;
    width: 40.1041%;
    top: 100%;
    right: 0;
    z-index: 20;
  }
  .menu_toggle_btn {
    top: 50%;
    right: 1.875rem;
    z-index: 20;
    margin-top: -0.938rem;
  }
  .slider_section {
    width: 59%;
    height: auto;
  }
  .slider_section span {
    position: relative;
    z-index: 10;
  }
  .latest_post_section {
    order: 5;
  }
  .popular_post_section {
    order: 6;
  }
  .rankup_section {
    order: 4;
    width: 41%;
    padding: 2.5% 5.2%;
  }
  .banner_section {
    display: flex;
    flex-direction: column;
    order: 9;
    width: 29%;
  }
  .banner_section div {
    flex: 1 1 0;
  }
  .banner_box_01 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_box_01 a {
    display: inline;
    padding: 0;
  }
  .banner_box_02 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_list {
    padding: 0;
    justify-content: flex-start;
  }
  .banner_list li:nth-child(2) {
    margin: 0 0.875rem;
  }
  .latest_post_section,
  .popular_post_section {
    width: 41%;
    padding: 2% 5%;
  }
  .gallery_section {
    order: 8;
    width: 71%;
    padding: 5%;
  }
  .gallery_list {
    display: flex;
    flex-direction: row;
  }
  .gallery_list li {
    width: 47%;
  }
  .gallery_list li:nth-child(2) {
    margin-top: 0;
    margin-left: 5.9%;
  }
  .social_section {
    order: 7;
    display: flex;
    width: 18%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .social_list {
    flex-direction: column;
    justify-content: flex-start;
  }
  .social_list li:nth-child(2) {
    margin: 1.5rem 0;
  }
  .footer p {
    padding: 2.5rem 0;
  }
}

/* PC CSS */
@media all and (min-width: 960px) {
  #wrap {
    position: relative;
    width: 90%;
  }
  .info_section {
    order: 0;
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    z-index: 30;
    width: auto;
    border-bottom: 0;
  }
  .info_list li {
    width: auto;
    margin-left: 0.625rem;
  }
  .info_list li a {
    padding: 0;
  }
  .header {
    order: 1;
    justify-content: flex-end;
    position: static;
  }
  .logo {
    width: 12.5%;
  }
  .logo a {
    color: #fff;
  }
  .nav {
    display: flex;
    align-items: center;
    position: static;
    width: 87.5%;
  }
  .gnb {
    display: flex !important;
    flex-direction: row;
    position: static;
    width: 100%;
    text-shadow: 0 1px 1px #25ab5e;
  }
  .gnb li {
    display: block;
    margin-left: 5.2%;
    background: none;
  }
  .gnb li a {
    width: auto;
    padding: 0;
    text-indent: 0;
  }
  .gnb li span {
    display: none;
  }
  .menu_toggle_btn {
    display: none;
  }
  .slider_section {
    order: 2;
    width: 50%;
  }
  .latest_post_section,
  .popular_post_section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto 0;
  }
  .gallery_section {
    order: 3;
    width: 27%;
  }
  .gallery_list {
    display: block;
  }
  .gallery_list li {
    width: auto;
  }
  .gallery_list li:nth-child(2) {
    margin-top: 1.875rem;
    margin-left: 0;
  }
  .rankup_section {
    width: 22.9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .rankup_list {
    display: block;
  }
  .rankup_list li {
    width: auto;
    text-align: left;
    counter-increment: rankup-counter;
  }
  .rankup_list li:nth-child(2) {
    margin-top: 0.938rem;
  }
  .rankup_list li::before {
    content: counter(rankup-counter);
    color: #fff;
    padding-right: 0.375rem;
    font-weight: bold;
    text-shadow: 0 1px 1px #428e9e;
  }
  .rankup_list li a {
    display: inline;
    padding: 0;
    border: 0;
  }
  .banner_section {
    order: 7;
    width: 23%;
  }
  .social_section {
    order: 8;
    width: 17%;
  }
  .footer {
    order: 9;
  }
  .footer p {
    text-align: left;
    padding-left: 3.125%;
  }
}
