/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Layout CSS */
figure {
  width: 100%;
  height: 100vh;
  background: linear-gradient(25deg, violet, pink);
  overflow: hidden;
  position: relative;
}
figure h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0;
}
figure h1 strong {
  font-size: 36px;
  color: #fff;
  line-height: 1.4;
  letter-spacing: 1px;
}
figure h1 span {
  font-size: 12px;
  color: #fff;
  opacity: 0.8;
  line-height: 1;
  letter-spacing: 1px;
}
figure .menu {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 8vh;
  right: 4vw;
}
figure > p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  font: normal 12px/1 "arial";
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.8;
}

/* Player CSS */
figure section {
  /* border: 1px solid aqua; */
  width: 20vw;
  height: 65vh;
  position: absolute;
  top: 140%;
  left: 50%;
  margin-top: -25vh;
  margin-left: -10vw;
  transition: 1s;
}
figure section article {
  /* border: 1px solid aqua; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
figure section article .inner {
  width: 100%;
  height: 100%;
  background: #f0f7ff;
  padding: 5vh 2.5vw 8vh;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  transform: scale(0.8);
  transition: opacity 1s, transform 1s;
}
figure section article.on .inner {
  opacity: 0.9;
  transform: scale(1.1);
}

/* Music Cover CSS */
figure section article .inner .pic {
  /* border: 1px solid #f00; */
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 200%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
figure section article .inner .pic::before,
figure section article .inner .pic::after {
  content: "";
  width: inherit;
  height: inherit;
  display: block;
  border-radius: inherit;
  /* border: 1px solid #f00; */
  position: absolute;
  top: 0;
  left: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-size: cover;
  transform-origin: center center;
}
figure section article .inner .pic::before {
  transform: translateY(10%);
  filter: blur(20px) brightness(1.6);
}
figure section article .inner .pic .dot {
  width: 3vw;
  height: 3vw;
  background: #e4f1ff;
  border-radius: 50%;
  z-index: 3;
  position: relative;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Music info & control CSS */
figure section article .inner .txt {
  text-align: center;
  position: relative;
  z-index: 3;
}
figure section article .inner .txt h2 {
  font-size: 20px;
  margin-bottom: 2vh;
  color: #222;
}
figure section article .inner .txt p {
  font-size: 12px;
  margin-bottom: 3vh;
  color: #777;
}
figure section article .inner .txt ul {
  display: flex;
  justify-content: space-around;
}
figure section article .inner .txt ul li {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s;
}
figure section article .inner .txt ul li.play {
  transform: scale(1.5);
  opacity: 0.9;
}
figure section article .inner .txt ul li:hover {
  transform: scale(1.5);
  opacity: 0.8;
}
figure section article .inner .txt ul li.play:hover {
  transform: scale(2);
  opacity: 1;
}

/* Control panel & play / pause / reset CSS */
figure section article .inner .pic.on::before {
  animation: ani2 4s linear infinite;
}
figure section article .inner .pic.on::after {
  animation: ani 4s linear infinite;
}
@keyframes ani2 {
  0% {
    transform: translateY(10%) rotate(0deg);
  }
  100% {
    transform: translateY(10%) rotate(360deg);
  }
}
@keyframes ani {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Left & Right btn CSS */
figure .btnPrev {
  /* border: 1px solid #f00; */
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20vw, -50%);
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}
figure .btnPrev span {
  font: normal 11px/1 "arial";
  color: #fff;
  opacity: 1;
  transform: translateX(30%);
  transition: 0.5s;
}
figure .btnPrev:hover span {
  opacity: 0;
  transform: translateX(100%);
}
figure .btnPrev::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: left center;
  transform: rotate(-180deg);
  transition: 0.5s;
}
figure .btnPrev::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: left center;
  transform: rotate(180deg);
  transition: 0.5s;
}
figure .btnPrev:hover::before {
  transform: rotate(-30deg);
}
figure .btnPrev:hover::after {
  transform: rotate(30deg);
}

figure .btnNext {
  /* border: 1px solid #f00; */
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20vw, -50%);
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
}
figure .btnNext span {
  font: normal 11px/1 "arial";
  color: #fff;
  opacity: 1;
  transform: translateX(-30%);
  transition: 0.5s;
}
figure .btnNext:hover span {
  opacity: 0;
  transform: translateX(-100%);
}
figure .btnNext::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: right center;
  transform: rotate(180deg);
  transition: 0.5s;
}
figure .btnNext::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: right center;
  transform: rotate(-180deg);
  transition: 0.5s;
}
figure .btnNext:hover::before {
  transform: rotate(30deg);
}
figure .btnNext:hover::after {
  transform: rotate(-30deg);
}
