input[id="trigger"] {
  display: none;
}
label[for="trigger"] {
  /* border: 1px solid #f00; */
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}
label[for="trigger"] span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transition: 0.3s;
}
label[for="trigger"] span:nth-child(1) {
  top: 0;
}
label[for="trigger"] span:nth-child(2) {
  top: 50%;
}
label[for="trigger"] span:nth-child(3) {
  top: 100%;
}
.sidebar {
  background: #000;
  width: 300px;
  height: 100vh;
  position: fixed;
  right: -300px;
  transition: 0.3s;
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(2) {
  opacity: 0;
}
input[id="trigger"]:checked + label[for="trigger"] span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
input[id="trigger"]:checked ~ .sidebar {
  right: 0;
}
input[id="trigger"]:checked + label[for="trigger"] {
  right: 310px;
}
