$complete-btn: royalblue;
$loading-btn: green;
$error-btn: crimson;
$notice-btn-hover: #000;
$notice-btn-fs: 18px;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*
@mixin notice-button {
  font-size: $notice-btn-fs;
  width: 150px;
  padding: 7px;
  background: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.35s;
  &.complete:hover {
    background: $complete-btn;
    color: #fff;
    border-color: transparent;
  }
  &.loading:hover {
    background: $loading-btn;
    color: #fff;
    border-color: transparent;
  }
  &.error:hover {
    background: $error-btn;
    color: #fff;
    border-color: transparent;
  }
}

.complete {
  @include notice-button;
  border: 3px solid $complete-btn;
}

.loading {
  @include notice-button;
  border: 3px solid $loading-btn;
}

.error {
  @include notice-button;
  border: 3px solid $error-btn;
}
*/

notice-button {
  font-size: $notice-btn-fs;
  width: 150px;
  padding: 7px;
  background: #fff;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.35s;
  &.complete:hover {
    background: $complete-btn;
    color: #fff;
    border-color: transparent;
  }
  &.loading:hover {
    background: $loading-btn;
    color: #fff;
    border-color: transparent;
  }
  &.error:hover {
    background: $error-btn;
    color: #fff;
    border-color: transparent;
  }
}

.complete {
  @extend notice-button;
  border: 3px solid $complete-btn;
}

.loading {
  @extend notice-button;
  border: 3px solid $loading-btn;
}

.error {
  @extend notice-button;
  border: 3px solid $error-btn;
}
