* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.gallery {
  /* border: 1px solid #f00; */
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}
.gallery li {
  border-right: 5px solid #000;
  flex: 1;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.gallery li:last-child {
  border-right: none;
}
.gallery li:nth-child(1) {
  background: url(/01/artistic-image-01.jpg) no-repeat center center;
}
.gallery li:nth-child(2) {
  background: url(/01/artistic-image-02.jpg) no-repeat center center;
}
.gallery li:nth-child(3) {
  background: url(/01/artistic-image-03.jpg) no-repeat center center;
}
.gallery li:nth-child(4) {
  background: url(/01/artistic-image-04.jpg) no-repeat center center;
}
.gallery li:nth-child(5) {
  background: url(/01/artistic-image-05.jpg) no-repeat center center;
}
.gallery:hover li {
  flex: 1;
}
.gallery li:hover {
  flex: 3;
  filter: grayscale(1);
}
.content {
  background: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: -320px;
  transition: 0.5s;
  padding-top: 50px;
  box-sizing: border-box;
}
.gallery li:hover .content {
  transition-delay: 0.5s;
  bottom: 0;
}
.sns a {
  color: #fff;
}
.content::before {
  content: "";
  position: absolute;
  background: #000;
  width: 100%;
  height: 60px;
  left: 0;
  top: -10px;
  transform-origin: left bottom;
  transform: rotate(-3deg) scale(1.3);
}
