* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrap {
  width: 90%;
  margin: 0 auto;
  border: 4px solid #000;
}

#wrap div {
  display: inline-block;
  height: 100px;
}

#wrap div:first-child {
  background: #f45750;
}
#wrap div:nth-child(2) {
  background: #40b0f9;
}
#wrap div:nth-child(3) {
  background: #00d2a5;
}
#wrap div:nth-child(4) {
  background: #ff884d;
}
#wrap div:last-child {
  background: #464646;
}

@media all and (min-width: 320px) {
  #wrap div {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  #wrap div {
    width: 49.5%;
  }
  #wrap div:last-child {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  #wrap div {
    width: 19.7%;
  }
  #wrap div:last-child {
    width: 19.8%;
  }
}
