* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../imgs/bg-1.jpg) no-repeat center center / cover;
}
h1 {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px #222;
}
