* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.slide_wrapper {
  position: relative;
  width: 660px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
}
.slides {
  position: absolute;
  top: 0;
  left: 0;
}
.slides.animated {
  transition: 0.5s ease-out;
}
.slides li {
  width: 200px;
  height: 200px;
  background: #ccc;
  float: left;
}
.slides li:not(:last-child) {
  margin-right: 30px;
}
.controls {
  text-align: center;
  margin-top: 50px;
}
.controls span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}
