body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

a {
  text-decoration: none;
}

.btn-outer .btn {
  color: #fff;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #555;
  position: relative;
  transition: 0.5s;
}
.btn-outer .btn:hover {
  background: transparent;
}
.btn-outer .btn::before, .btn-outer .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  opacity: 0;
  transition: 0.5s;
}
.btn-outer .btn:hover::before {
  opacity: 1;
  transform: rotate(45deg);
}
.btn-outer .btn:hover::after {
  opacity: 1;
  transform: rotate(-45deg);
}