@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  color: #fff;
  font-weight: 300;
}
.video-frame::before {
  content: "";
  background: linear-gradient(-135deg, crimson, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-frame video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
}

.heading {
  position: absolute;
  left: 100px;
  bottom: 100px;
  width: 700px;
  animation: showing1 2s 1s linear;
  animation-fill-mode: both;
}
@keyframes showing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
.heading h1 {
  font-size: 60px;
}
.heading h1 span {
  display: block;
  color: crimson;
}
.heading p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 20px 0;
}
.btn-book,
.btn-learn {
  background: #fff;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  display: inline-block;
  padding: 7px;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-right: 5px;
  transition: 0.3s;
}
.btn-learn {
  background: transparent;
  color: #fff;
}
.btn-book:hover {
  background: #000;
  color: #fff;
  border-color: #000;
}
.btn-learn:hover {
  background: #fff;
  color: #000;
}
.anniversary {
  position: absolute;
  right: 100px;
  bottom: 50px;
  color: #000;
  text-align: center;
  animation: showing2 2s 1s linear;
  animation-fill-mode: both;
}
@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
.anniversary em {
  display: block;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 5px;
  /* margin-bottom: -20px; */
}
.anniversary span {
  font-size: 150px;
  font-family: "Monoton", cursive;
}
.trigger {
  width: 40px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 100;
}
.trigger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  transition: 0.3s;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  width: 80%;
}
.trigger span:nth-child(3) {
  top: 100%;
}
.trigger.active span {
  background: #fff;
}
.trigger.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}
.modal-gnb {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.gnb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gnb a {
  color: #fff;
  font-size: 60px;
  display: block;
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
  animation: gnb 0.5s linear;
  animation-fill-mode: both;
}
@keyframes gnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.gnb a:nth-child(1) {
  animation-delay: 0.5s;
}
.gnb a:nth-child(2) {
  animation-delay: 0.7s;
}
.gnb a:nth-child(3) {
  animation-delay: 0.9s;
}
.gnb a:nth-child(4) {
  animation-delay: 1.1s;
}
.gnb a:nth-child(5) {
  animation-delay: 1.3s;
}
.gnb a:hover {
  color: crimson;
}
