.container {
  width: 960px;
  margin: 0 auto;
}
.row {
  overflow: hidden;
}
.span_1,
.span_2,
.span_3,
.span_4,
.span_5,
.span_6,
.span_7,
.span_8,
.span_9,
.span_10,
.span_11,
.span_12 {
  float: left;
  margin: 0 10px;
}

.span_1 {
  width: 60px;
}
.span_2 {
  width: 140px;
}
.span_3 {
  width: 220px;
}
.span_4 {
  width: 300px;
}
.span_5 {
  width: 380px;
}
.span_6 {
  width: 460px;
}
.span_7 {
  width: 540px;
}
.span_8 {
  width: 620px;
}
.span_9 {
  width: 700px;
}
.span_10 {
  width: 780px;
}
.span_11 {
  width: 860px;
}
.span_12 {
  width: 940px;
}
