@import url(./font.css);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* nav icon */
#nav_icon {
  /* background: #2575fc; */
  width: 30px;
  height: 25px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 3;
}
#nav_icon div {
  position: relative;
  width: 100%;
  height: 100%;
}
#nav_icon div span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
#nav_icon div span:nth-child(1) {
  top: 0;
}
#nav_icon div span:nth-child(2) {
  top: 10px;
}
#nav_icon div span:nth-child(3) {
  top: 20px;
}
body.nav_active #nav_icon div span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
body.nav_active #nav_icon div span:nth-child(2) {
  opacity: 0;
}
body.nav_active #nav_icon div span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}
nav {
  position: fixed;
  top: 24px;
  right: 60px;
  z-index: 2;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.3s ease-in-out;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
nav ul li a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.6);
}
body.nav_active nav {
  opacity: 1;
  transform: translateX(0px);
}

/* nav bar */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

/* background */
#sec0 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
#sec0 .inner {
  display: block;
}
#sec0 .inner svg,
#sec0 .inner img {
  position: absolute;
  top: 50%;
  left: 50%;
}
#sec0 .inner .svg1 {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#sec0 .inner .svg2 {
  width: 657px;
  transform: translate(-49%, -49%);
  z-index: 1;
}
#sec1 {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
#sec1 .inner {
  flex-direction: column;
}
.gage_wrap {
  /* border: 1px solid #f00; */
  width: 500px;
  margin-top: 50px;
}
.gage_wrap ul {
  display: flex;
}
.gage_wrap ul li {
  width: 25%;
  text-align: center;
}
.gage_wrap ul li .gage {
  width: 15px;
  height: 150px;
  background: rgba(255, 255, 255, 0.3);
  margin: auto;
  position: relative;
  padding: 5px;
}
.gage_wrap ul li .gage_in {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 0;
  background: #fff;
}
.gage_tit {
  color: #fff;
  margin-top: 20px;
}
#sec2 {
  /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  background: url(./img/sec2_bg_0.png) center center/cover no-repeat;
  transition: all 0.2s;
}
#sec2 h1 {
  opacity: 0;
  transform: translateY(-50px);
}
.slider_wrap {
  width: 50vw;
  max-width: 700px;
  height: 35vw;
  max-height: 550px;
  margin-left: 50px;
  opacity: 0;
  transform: translateY(-50px);
}
.sec2_slider {
  /* border: 1px solid #f00; */
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 30px;
}
.sec2_slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center/cover no-repeat;
  opacity: 0;
  text-indent: -9999px;
}
.sec2_slider li.on {
  opacity: 1;
}
.sec2_slider li:nth-child(1) {
  background-image: url(./img/sec2_1.png);
}
.sec2_slider li:nth-child(2) {
  background-image: url(./img/sec2_2.png);
}
.sec2_slider li:nth-child(3) {
  background-image: url(./img/sec2_3.png);
}
.sec2_slider li:nth-child(4) {
  background-image: url(./img/sec2_4.png);
}
.btn_wrap {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}
.slide_btn {
  /* border: 1px solid #f00; */
  display: block;
  width: 10px;
  height: 20px;
  background: url(./img/arr_01.png) center center/contain no-repeat;
  text-indent: -9999px;
}
.slide_btn.right {
  background-image: url(./img/arr_02.png);
}
.slide_icons {
  display: flex;
}
.slide_icons li {
  width: 10px;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  text-indent: -9999px;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.slide_icons li.active {
  width: 20px;
  background: #fff;
}
#sec3 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
h1 {
  font-family: 'Back to Black Demo';
  font-size: 100px;
  display: flex;
  letter-spacing: -3px;
  color: #fff;
}
#sec3 h1 {
  transform: translateX(-100px);
}
#sec3 h1 span {
  opacity: 0;
}
#sec3 h1 span:nth-child(6) {
  margin-right: 50px;
}
.sec3_svg {
  fill: #667eea;
  stroke: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
#sec4 {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  overflow: hidden;
}
#sec4 h1 img {
  /* border: 1px solid #f00; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 3;
  opacity: 1;
}
#sec4 .img_wrap {
  /* border: 1px solid #f00; */
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* background: #009efd; */
}
.tail {
  width: calc(100% / 20);
  height: calc(100% / 20);
  background: #009efd;
}
.inner {
  /* border: 1px solid #f00; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.inner h1 img {
  width: 400px;
}

@media screen and (max-width: 999px) {
  .inner {
    width: 100vw;
  }
  #sec2 .inner {
    flex-direction: column;
  }
  .slider_wrap {
    margin: 30px 0 0;
  }
}
