* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  gap: 30px;
}
input {
  width: 400px;
  height: 100px;
  font-size: 30px;
  padding: 30px;
}
.log {
  width: 400px;
  height: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 30px;
}
