* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  transition: 0.5s;
}
.card .content {
  background: linear-gradient(to top, crimson, transparent);
}
.content h2 {
  font-size: 30px;
}
.content h2 span {
  display: block;
  font-size: 14px;
  color: gold;
  margin-top: 10px;
}
.sns a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
.card:hover .content {
  top: 0;
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
}
