body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  width: 150px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
button:hover {
  cursor: pointer;
}
#result {
  text-align: center;
  font-weight: bold;
  width: 300px;
  padding: 20px;
}
