* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
} 
.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper_header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  color: #55b2d4;
  font-size: 13px;
  font-weight: 700;
}
.subtitle {
  padding-left: 5px;
  font-size: 8px;
}
.divideLine {
  width: 100%;
  border-top: 1px solid gray;
}
.contents_body {
  font-size: 11px;
  color: #999;
}
.wrapper_body {
  width: 100%;
  height: 270px;
}
.video {
  margin-top: 15px;
  background-color: #c4c4c4;
  width: 100%;
  height: 240px;
}