* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper_header {
  width: 100%;
}
.header_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  color: #55b2d4;
  font-size: 13px;
  font-weight: 700;
}
.subtitle {
  padding-left: 5px;
  font-size: 8px;
}
.divideLine {
  width: 100%;
  border-top: 1px solid gray;
}
.albumWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 12px;
}
.albumWrapper_item .album_thumbnail {
  width: 120px;
  height: 120px;
}
.albumWrapper_item .album_songtitle {
  font-size: 11px;
  font-weight: bold;
  color: #0f465e;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.albumWrapper_item .album_artist {
  font-size: 10px;
  font-weight: bold;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper_body {
  width: 100%;
}
.albumTable {
  width: 100%;
  padding-top: 8px;
  border-spacing: 0;
}
.albumTable th {
  background-color: #eee;
  color: gray;
  font-size: 10px;
  height: 20px;
  font-weight: bold;
  border-top: 1px solid gray;
  border-bottom: 1px dashed gray;
}
.albumTable td {
  color: #0f465e;
  font-size: 10px;
  height: 20px;
  border-bottom: 1px dashed gray;
}
.album_table_checkbox {
  width: 5%;
  text-align: center;
}
.album_table_number {
  width: 10%;
  text-align: center;
}
.album_table_song {
  width: 45%;
  text-align: left;
}
.fas {
  display: inline-block;
  margin-left: 85px;
  margin-right: 6px;
  width: 10px;
  height: 10px;
  color: red;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
}
.album_table_artist {
  width: 30%;
  text-align: center;
}
.albumTable_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  padding-top: 10px;
}
.albumTable_footer button {
  font-size: 8px;
  color: gray;
  padding: 3px;
  background: linear-gradient(180deg, #fff 0%, #fff 57%, #ddd 100%);
  border: 1px solid gray;
  border-radius: 5px;
}
.albumTable_footer_center span {
  color: red;
}
