:is(header, section, footer) h1 {
  font-size: 30px;
  font-weight: normal;
}

:is(header, section, footer) h1::before {
  content: "";
  width: 10px;
  height: 30px;
  display: inline-block;
  background: crimson;
  border-radius: 5px;
  margin-right: 10px;
}

.frame :is(p, span) {
  font-size: 20px;
  color: crimson;
}