body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  display: flex;
  width: 100vw;
  flex: 1;
}

.left-panel,
.right-panel {
  width: 50%;
  height: 100vh;
  transition: opacity 1s ease; /* 이미지가 서서히 나타나고 사라지도록 트랜지션 설정 */
}
.left-panel {
  background: url(./img/iu02.jpg) no-repeat center center;
  background-size: cover;
}
.right-panel {
  background: url(./img/iu03.jpg) no-repeat center center;
  background-size: cover;
}

.center-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#showImagesButton {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px #aaa;
  background: url(./img/iu01.jpg) no-repeat center center;
  background-size: 300px;
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
