body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#galleryZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
