* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(150deg, #13f0cf, #ddf311, #13f0cf);
}
h1 {
  position: fixed;
  left: 50px;
  bottom: 0;
  font-size: 70px;
  color: #fff;
}
.innerWrap {
  width: 100%;
  height: 5000px;
}
.progressWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2d9c9a;
}
.bar {
  width: 0%;
  height: inherit;
  background: #fff;
  position: absolute;
  transition: width 0.4s ease-out;
}
