#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
ul,
li {
  list-style: none;
}
li {
  font: bold 20px/1.5 "arial";
}
