@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  border: 0;
}

/* Common */
body {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  color: #ddd;
  background-color: #000;
}

/* Background */
.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
}
.wrap > video {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  object-fit: cover;
}
